/* css styles */

.videos {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px dashed blue;
}
.video {
    min-height: 6rem;
    border: 1px dashed red;
}
.video:nth-child(4n),
.video:nth-child(5n),
.video:nth-child(6n) {
    min-height: 3rem;
    border: 1px dashed orange;
}

/* Estilo para la imagen alineada a la izquierda del párrafo */
.img-left {
    float: left;
    margin-right: 15px;
    width: 300px; /* Ajusta el ancho según lo necesites */
    height: auto;
  }
  
  /* Contenedor para el texto */
  .text-container {
    margin-left: 315px; /* Ajusta el margen según el ancho de la imagen */
    width: calc(100% - 315px); /* Ajusta el ancho según el margen */
    overflow: hidden; /* Agrega este estilo para que el texto no se desborde */
    text-align: justify; /* Agrega este estilo para justificar el texto */
  }
  
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  /* Estilo para la imagen alineada a la izquierda del párrafo */
.img-left {
    float: left;
    margin-right: 15px;
    width: 300px; /* Ajusta el ancho según lo necesites */
    height: auto;
  }
    
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .image-container {
    text-align: center; /* Center the image and footer */
  }
  
  .centered-image {
    display: block; /* Make the image a block element */
    margin: 0 auto; /* Center the image horizontally */
    width: 50%; /* Adjust the width as needed */
    height: auto;
  }
  
  .footer {
    font-size: 17px; /* Adjust the font size as needed */
    margin-top: 12px; /* Add some space between the image and footer */
    text-align: center; /* Center the footer text */
  }